
<a [routerLink]="['/mural',fotos.id]">

<div class="fotos">
    <img [src]="fotos.imagePath" alt="">
</div>
</a>
<!--
<div>
    Exibindo mural Estático:
</div>
<div class="fotos">
    <img src="../../assets/fotos/20240427_211505.jpg" alt="">
</div>

<div class="fotos">
    <img src="../../assets/fotos/20240428_182318.jpg" alt="">
</div>

<div class="fotos">
    <img src="../../assets/fotos/20240428_182321.jpg" alt="">
</div>

<div class="fotos">
    <img src="../../assets/fotos/20240428_182334.jpg" alt="">
</div>
-->